#.ipynb_checkpoints
#streams/
#debug/
#raw_data/
#rawdata/


.$*
~$*
*.lnk
*.pyc
__pycache__
.~lock.*
*.ldb
$HISTORY
.HISTORY
AutoBackUp
BackUp
FP_Kakeibo\AutoBackUp
FP_Kakeibo\BackUp
*.tmp.drivedownload*
.svn
*.un~
*.swo
*.swp
*.swn
*.str-
*.bkp



*.zip
*.cmd
